@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 19.5px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

/* CONFIGURAÇÕES GERAIS */

body {
    background: #D9D9D9;
    margin-top: 75px;
}

.principal {
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    width: 750px;
    background: #F2F2F2;
}

/* CONFIGURAÇÕES TEXTOS */

.destaque {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background: none;
    color: #3E63A6;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.destaque:hover {
    color: #3E0599;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.section-1 {
    padding-bottom: 25px;
    border-bottom: 3px solid #7171714b;
}

/* IMAGENS */

#imgPokemon {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

#imgPokemon img {
    cursor: pointer;
    height: 115px;
    width: 115px;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
    margin: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#imgPokemon img:hover {
    background: #003e94;
}

.logo {
    margin-top: -175px;
    margin-bottom: -150px;
    height: 750px;
    width: 750px;
}

/* BOTÃO DE PESQUISA */

.nome-pesquisa {
    font-weight: bold;
    text-align: center;
    color: #3E63A6;
    margin-bottom: 35px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.nome-pesquisa:hover {
    color: #3E0599;
}

.input-container {
    margin-left: 100px;
    width: 500px;
    position: relative;
}

.label {
    position: absolute;
    left: 10px;
    top: 17.5px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c452c;
    background: white;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: rgba(51, 51, 51, 0.781);
}

.label::before {
    content: "";
    height: 5px;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #2f2c452c;
}

.text-input:focus+.label,
.filled {
    font-size: 17.5px;
    top: -20px;
    color: #3E63A6;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

/* BOTAO DE ENVIAR */

.enviar {
    cursor: pointer;
    position: relative;
    margin-left: 100px;
    width: 535px;
    margin-top: 15px;
    background: #3E63A6;
    color: white;
    padding: 12.5px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    font-weight: bold;
}

.enviar:hover {
    background: #003e94;
}

/* MENU INFORMAÇÕES DA BUSCA */

#content {
    font-family: monospace;
    padding: 10px;
    background-color: #FFCC01;
    border: 1px solid #c8a102;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 500px) {
    .principal {
        width: 325px;
        padding: 25px;
    }
    .logo {
        margin-top: -100px;
        height: 300px;
        width: 300px;
    }
    .nome-pesquisa {
        margin-top: 100px;
    }
    .input-container {
        margin-left: 0;
        width: 275px;
    }
    .enviar {
        margin-left: 0px;
        width: 311px;
    }
}
